* {
  margin: 0;
  padding: 0;
}

body {
  background: #090909;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  padding-bottom: 100px;
}

.logo {
  display: block;
  max-width: 400px;
  color: #fff;
  margin: 0 auto;
  margin-top: 5rem;
  height: 200px;
  text-align: center;
}

.logo a {
  font-size: 2.5rem;
  color: #fff;
}

a {
  font-weight: 400;
  color: rgba(255, 255, 255, 0.4);
  text-decoration: none;
}

footer {
  padding-top: 200px;
  padding-bottom: 50px;
  width: 400px;
  margin: 0 auto;
  text-align: center;
}

ul {
  margin: 0 auto;
  margin-top: 20px;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 400px;
}

li {
  display: inline;
}

.logo ul a {
  font-size: 1rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.4);
}

.logo ul a.active {
  color: #fff;
}

.images {
  column-count: 3;
  columns: 480px;
  margin: 0 auto;
}

.image {
  margin: 0;
  margin-bottom: 25px;
  width: 480px;
}

@media screen and (min-width: 1984px) {
  .images {
    max-width: 2000px;
  }
}

@media screen and (max-width: 1984px) {
  .images {
    max-width: 1500px;
  }
}

@media screen and (max-width: 1500px) {
  .images {
    column-count: 2;
    max-width: 1000px;
  }
}

@media screen and (max-width: 1000px) {
  .images {
    column-count: 2;
    max-width: 480px;
  }

  .image {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    margin-bottom: 25px;
  }
}

@media (min-width: 38em) {
  html {
    font-size: 20px;
  }
}
